$themes: (
  'blue': (
    //整体主色调/菜单栏背景
    mainColor: rgb(8 6 46),
    //主体内容
    mainBodyColor: rgb(8 6 46),
    //组件等背景
    secondaryColor: rgb(26 23 56),
    //主题色
    activeMainColor: #ab343c,
    // 文字颜色
    fontColor: #8f9bb3,
    // 滚动条（菜单）
    scrollbarColor: rgb(8 6 46),
    // 边框线
    borderColor: #fff,
    // 边框线（左）
    borderLeftColor: #e4e7ed,
    // 边框线（右）
    borderRightColor: #000,
    //盒子阴影
    boxShadowColor: rgb(44 51 73 / 10%),
    // 悬浮
    hoverColor: #409eff
  ),
  'light': (
    //整体主色调/菜单栏背景
    mainColor: #fff,
    //主体内容
    mainBodyColor: #ecf0f6,
    //组件等背景
    secondaryColor: #fff,
    //主题色
    activeMainColor: #ab343c,
    // 文字颜色
    fontColor: #8f9bb3,
    // 滚动条（菜单）
    scrollbarColor: #8f9bb3,
    // 边框线
    borderColor: #fff,
    // 边框线（左）
    borderLeftColor: #e4e7ed,
    // 边框线（右）
    borderRightColor: #e4e7ed,
    //盒子阴影
    boxShadowColor: rgb(44 51 73 / 10%),
    // 悬浮
    hoverColor: #409eff
  ),
  'dark': (
    //整体主色调/菜单栏背景
    mainColor: #151a30,
    //主体内容
    mainBodyColor: #151a30,
    //组件等背景
    secondaryColor: #222b45,
    //主题色
    activeMainColor: #ab343c,
    // 文字颜色
    fontColor: #fff,
    // 边框线
    borderColor: #151a30,
    // 边框线（左）
    borderLeftColor: #151a30,
    // 边框线（右）
    borderRightColor: #151a30,
    // 滚动条（菜单）
    scrollbarColor: #101426,
    //盒子阴影
    boxShadowColor: #1a1f33,
    // 悬浮
    hoverColor: #409eff
  ),
  'purple': (
    //整体主色调/菜单栏背景
    mainColor: #151a30,
    //主体内容
    mainBodyColor: #101426,
    //组件等背景
    secondaryColor: #1e1045,
    //主题色
    activeMainColor: #ab343c,
    // 文字颜色
    fontColor: #fff,
    // 边框线
    borderColor: #151a30,
    // 边框线（左）
    borderLeftColor: #151a30,
    // 边框线（右）
    borderRightColor: #151a30,
    // 滚动条（菜单）
    scrollbarColor: #101426,
    //盒子阴影
    boxShadowColor: #1a1f33,
    // 悬浮
    hoverColor: #409eff
  ),
  'yellow': (
    //整体主色调/菜单栏背景
    mainColor: #151a30,
    //主体内容
    mainBodyColor: #101426,
    //组件等背景
    secondaryColor: #fadb39,
    //主题色
    activeMainColor: #ab343c,
    // 文字颜色
    fontColor: #fff,
    // 边框线
    borderColor: #151a30,
    // 边框线（左）
    borderLeftColor: #151a30,
    // 边框线（右）
    borderRightColor: #151a30,
    // 滚动条（菜单）
    scrollbarColor: #101426,
    //盒子阴影
    boxShadowColor: #1a1f33,
    // 悬浮
    hoverColor: #409eff
  )
);
